* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f3f4f6;
    --button-color: #1d1d1f;
    --color-white: #ffffff;
    --button-hover: #ffffff; /* change color */
    --text-color: #394150;
    --input-color: #e5e7eb;
    --category-color: #d2d5da;
    --header-color: #111729;
    --link-footer: #284bce;
}

@font-face {
    font-family: "Lato", sans-serif;
    src: url(../fonts/Lato-Bold.ttf);
}

body {
    background-color: var(--primary-color);
    font-size: 16px;
    background-image: url("/resources/background-image@2x.png");
    background-repeat: no-repeat;
    background-position: center top;
    padding: 0 10px;
}

header {
    width: 100%;
    color: var(--color-white);
    text-align: center;
}

header span {
    font-size: 1rem;
    text-transform: uppercase;
    background-color: var(--header-color);
    padding: 8px 12px 10px;
    border-radius: 25px;
}

h1 {
    display: inline-block;
    padding: 47px 10px;
}

h2 {
    font-size: 16px;

}

.product {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: var(--input-color);
}

.product-item {
    display: flex;
    justify-content: space-between;
    gap: 26px;
}

.product-info {
    max-width: 200px;
    width: 100%;
}

.product-info p {
    margin-top: 8px;
}

.name-product {
    display: flex;
    justify-content: space-between;
}

.name-product:last-child {
    margin-top: 40px;
}

.img {
    position: relative;
    width: 100%;
    max-width: 100px;
    height: 100px;
    background: var(--primary-color);
    border-radius: 10px;
}

img {
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-d {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--category-color);
    padding-top: 24px;
}

.coupon {
    display: inline-block;
    width: 174px;
    padding: 20px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background: var(--primary-color);
}

.btn-coupon {
    display: inline-block;
    width: 140px;
    font-size: 1rem;
    background: var(--button-color);
    color: var(--color-white);
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.all-price {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item-price {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: var(--text-color);
}

.item-price:last-child {
    font-weight: 600;
}

.contact {
    background: var(--color-white);
}

.wrapper {
    max-width: 390px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

section {
    width: 100%;
    padding: 32px;
}

form {


}

label {
    display: block;
    margin: 28px 0 8px;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--text-color);
}

#name, #email, #postcode, #country {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--category-color);
    background: var(--input-color);


}

fieldset {
    display: flex;
    gap: 24px;
    border: none;
}

fieldset > div {
    width: 100%;
}

button[type="submit"] {
    width: 100%;
    margin-top: 24px;
    padding: 20px;
    border-radius: 10px;
    border: 0;
    background: var(--button-color);
    color: var(--color-white);

}

/* ================  FOOTER  ============== */

footer {
    max-width: 275px;
    margin: 0 auto;
    padding: 3rem 0;
    color: var(--header-color);
}

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.attribution p {
    font-weight: 600;
}

.attribution a {
    font-style: italic;
    text-decoration: none;
    color: var(--link-footer);
}