*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color:#f3f4f6;
    --button-color: #1d1d1f;
    --color-white: #ffffff;
    --button-hover: #ffffff;  /* change color */
    --text-color: #394150;
    --input-color: #e5e7eb;
    --category-color: #d2d5da;
    --header-color: #111729;
    --link-footer: #284bce;
}

@font-face {
    font-family: "Lato", sans-serif;
    src: url(../fonts/Lato-Bold.ttf);
}

/*
    Inter - Heading
700 - Bold
24px | 1.5rem

Inter - Body Text
400|500|600 - Regular|Medium|Semibold
16px | 1rem

*/
body {
    background-color: var(--input-color);
    font-size: 16px;


}
header {
    width: 100%;

    text-align: center;


}
h1{
    display: inline-block;

    padding: 47px 10px;

}
h2{
    font-size: 16px;
}
.product{
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: var(--category-color);
}
.product-item{
    display: flex;
    justify-content: space-between;
    gap: 26px;
}
.img {
    position: relative;
    width: 100%;
    max-width: 100px;
    height: 100px;
    background: var(--primary-color);
    border-radius: 10px;


}
img{

    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.btn-d{

}
.coupon{
    display: inline-block;
    width: 174px;
    padding: 20px;

    border: none;
    border-radius: 10px;
}
.btn-coupon{
    display: inline-block;
    width: 140px;

    padding: 20px;
    border-radius: 10px;
    border: none;
}
table{
    width: 100%;
}
.contact{
    background: var(--primary-color);
}
.wrapper{
    max-width: 390px;
    width: 100%;
    border-radius: 10px;
overflow: hidden;
    margin: 0 auto;
}
section {
    width: 100%;
    padding: 32px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 32px;
}



/* ================  FOOTER  ============== */

footer {
    max-width: 275px;
    margin: 0 auto;
    padding: 3rem 0;
    color: var(--header-color);
}
.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.attribution p {
    font-weight: 600;
}
.attribution a {
    font-style: italic;
    text-decoration: none;
    color: var(--link-footer);
}